# Build
build/
build-*/
DerivedData/
.build/
.swiftpm/

# Xcode
*.xcuserdatad/
*.xcworkspace/xcuserdata/
xcuserdata/

# Tuist
**/Derived/
*.xcodeproj/
*.xcworkspace/

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
